@{ ViewData["Title"] = "About Us"; }
<h1>@ViewData["Title"]</h1>



<table class="align-self-lg-center">
<tr>
    <td>
        <img src="~/img/bg.jpg" width="500" height="500" class="pl-1" />
    </td>
    <td>
        <div class="ml-4 text-center">
            <p>Gitline is an Online Guitar Shop that is accessible for guitar lovers and a place to hang out with fellow musicians</p>
        </div>
    </td>
</tr>
</table>