@{
    ViewData["Title"] = "Home Page";
}

<br /><br /><br /><br /><br /><br />
<div class="text-center">
    <h1 class="display-4">Welcome To</h1>
    <br />
    <h1 class="display-4"><b>GITLINE</b></h1>
</div>
