
@{

    ViewData["Title"] = "Home Page";
    
}

<br /><br /><br /><br /><br /><br />
<img src="~/img/HomeStratocaster.png"  width="500" height="500" class="pl-1"/>
<div class="text-center">
    
    <h1 class="display-4 pr-1">Welcome To</h1>
    <br />
    <h1 class="display-4 pr-1"><b>GITLINE</b></h1>
</div>
