
@{

    ViewData["Title"] = "Home Page";
    
}

<br /><br /><br /><br /><br /><br />
<img src="~/img/HomeStratocaster.png"  width="500" height="500" class="pl-1"/>
<div class="ml-4 text-center">
    
    <h1 class="display-4">Welcome To</h1>
    <br />
    <h1 class="display-4"><b>GITLINE</b></h1>
</div>
