@model Gitline.Models.StoreViewModel


@{
    ViewData["Title"] = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h1>Add to cart</h1>

<div class="container">
    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-4">

            <img style="min-height:200px; width:200px" src="~/img/inventory/@Url.Content(Model.Product.ImagePath)" />
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8">
            <form asp-action="AddToCart" asp-controller="Browse">

                <h1>Product Name: @Model.Product.Name</h1>
                <h1>Price: @Model.Product.Price</h1>
                <h1>Description: </h1><p>@Model.Product.Description</p> 

                <input type="number" asp-for="Quantity" value="1" required />
                <input type="submit" class="btn btn-danger" value="Submit" />
            </form>
        </div>


    </div>
</div>